<nav class="navbar">
    <div class="container">
        <div class="logo">        
            <img class="left" src="/assets/unknown.png" width="50px" height="50px"/> 
            <a class="nav-link logo" routerLink="home">Przyjazne Karły </a>
        </div>
        <span class="navbar-right" >
            <span class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="home">Home</a></span>
            <span class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="bets">Bets</a></span>
        </span>
    </div>
</nav>



